@page "/veiculos/details/{id:int}"
@using Estacionamento.MAUI.Models
@inject HttpClient Http;

<h3>Detalhes do Veículo</h3>

@if (veiculo == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div>
        <h4>Veículo</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                Marca
            </dt>
            <dd class="col-sm-10">
                @veiculo.Marca
            </dd>
            <dt class="col-sm-2">
                Modelo
            </dt>
            <dd class="col-sm-10">
                @veiculo.Modelo
            </dd>
        </dl>
    </div>    

    <div>
        <a href="/veiculos" class="btn btn-light">Voltar</a>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Veiculo? veiculo;

    protected override async Task OnInitializedAsync()
    {
        // Busca um veículo na API
        veiculo = await Http.GetFromJsonAsync<Veiculo>($"https://localhost:4000/api/Veiculos/{Id}");
    }
}
