@page "/veiculos/create"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Estacionamento.MAUI.Models
<h3>Cadastro do Veiculo</h3>


<div class="row">
    <div class="col-md-4">
        <form @onsubmit="CreateVeiculo">
            <div class="form-group">
                <label for="placa" class="control-label">Placa</label>
                <input for="placa" class="form-control" @bind="veiculo.Placa" />
            </div>
            <div class="form-group">
                <label for="modelo" class="control-label">Modelo</label>
                <input for="modelo" class="form-control" @bind="veiculo.Modelo" />
            </div>
            <div class="form-group">
                <label for="cor" class="control-label">Cor</label>
                <input for="cor" class="form-control" @bind="veiculo.Cor" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="#" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>


@code {
    Veiculo veiculo = new Veiculo();

    async Task CreateVeiculo()
    {
        await Http.PostAsJsonAsync("https://localhost:4000/api/Veiculos", veiculo);
        NavigationManager.NavigateTo("/veiculos");
    }
}