@page "/registros/edit/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@using Estacionamento.MAUI.Models

<h3>Editar Registro</h3>

@if (true)
{
    <p><em>Carregando...</em></p>
}
else
{
    
}

@code {
    
}
