@page "/motorista/delete/{id:int}"
@using Estacionamento.MAUI.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Excluir Motorista</h3>

@if (motorista == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div>
        <h4>Motorista</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                Nome
            </dt>
            <dd class="col-sm-10">
                @motorista.Nome
            </dd>
            <dt class="col-sm-2">
                Veiculo ID:
            </dt>
            <dd class="col-sm-10">
                @motorista.VeiculoId
            </dd>
        </dl>

        <form @onsubmit="DeleteMotorista">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a href="/motoristas" class="btn btn-light">Voltar</a>
        </form>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Motorista? motorista;

    protected override async Task OnInitializedAsync()
    {
        motorista = await Http.GetFromJsonAsync<Motorista>($"https://localhost:4000/api/Motoristas/{Id}");
    }

    async Task DeleteMotorista()
    {
        await Http.DeleteAsync($"https://localhost:4000/api/Motoristas/{Id}");
        NavigationManager.NavigateTo("/motoristas");
    }
}
