@page "/motoristas"
@inject HttpClient Http
@using Estacionamento.MAUI.Models
 
 
<h3>Lista de Motoristas</h3>

<a href="/motorista/create" class="btn btn-primary">Cadastrar</a>
 
@if(motoristas == null)
{
<p>Carregando...</p>
}
else if (!motoristas.Any())
{
<p>Nenhum Motorista identificado!</p>
}
else
{
<table class="table">
<thead>
<tr>
<th scope="col">Id</th>
<th scope="col">Marca</th>
<th scope="col">Modelo</th>
<th scope="col">Ações</th>
</tr>
</thead>
<tbody>
 
            @foreach (var motorista in motoristas)
            {
<tr>
 
                    <td>@motorista.Id</td>
<td>@motorista.Nome</td>
<td>@motorista.VeiculoId</td>
<td>
<a href="/motoristas/edit/@motorista.Id" class="btn btn-warning">Editar</a>
<a href="/motoristas/details/@motorista.Id" class="btn btn-info">Detalhes</a>
<a href="/motoristas/delete/@motorista.Id" class="btn btn-danger">Excluir</a>
</td>
 
                </tr>
            }
 
 
        </tbody>
</table>
}
 
@code {
    List<Motorista>? motoristas;
    protected override async Task OnInitializedAsync()
    {
        motoristas = await Http.GetFromJsonAsync<List<Motorista>>("https://localhost:4000/api/Motoristas");
    }
}