@page "/motoristas/create"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Estacionamento.MAUI.Models

<h3 class="text-center mb-3">Novo Motorista</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <InputText id="nome"  class="form-control" />
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <InputText id="cpf"  class="form-control" />
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <InputText id="telefone"  class="form-control" />
        </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="/motoristas" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>

@code {
    Motorista motorista = new Motorista(); // Criar o objeto
    List<Veiculo>? veiculos;

    protected override async Task OnInitializedAsync()
    {
        veiculos = await Http.GetFromJsonAsync<List<Veiculo>>("https://localhost:4000/api/Veiculos");
    }

    // Chamar o endpiont
    async Task CreateMotorista()
    {
        await Http.PostAsJsonAsync("https://localhost:4000/api/Motoristas", motorista);
        NavigationManager.NavigateTo("/motoristas");
    }
    
}
